include LICENSE README.md
recursive-include shasta/data *.yml
recursive-include shasta/assets *
prune shasta/preprocessing/lib
prune shasta/preprocessing/chicago
global-exclude *.pyc __pycache__ *.jar
